.icon-section{    
    margin-top: 3rem;
}

.icon-class{
    border-radius: 25%;
    background-color: #473e3e;
    color: white;
    margin-right: 10px;
}
.button-class{
 //   background-color: #174040;
 background-color: #473e3e;
    color: white;
    margin-right: 10px;
    border: none;
}