<div class="profile-page mb-5">
  <div class="wrapper">
    <div class="page-header page-header-small" filter-color="green">
      <div class="page-header-image" data-parallax="true" style="background: url('assets/images/intro.jpeg') repeat 0 0;height: 80vh;">
        <div class="container" style="     text-align: center;
        justify-content: center; position: relative; top: 20%;
        ">
          <div class="content-center" >
            <div class="cc-profile-image" >
              <a href="#" >
                <img src="assets/images/photo_kamini.jpeg" alt="Image" style="height: 10rem; width: 10rem;  border-radius: 50%;"/>
              </a>
            </div>
            <h1 class="h2 title text-white">Kamini Kuhad</h1>
            <p class="category text-white" style="text-align: center;">Software Developer</p>
            <a class="btn btn-primary smooth-scroll button-class" href="/contact" data-aos="zoom-in"
              data-aos-anchor="data-aos-anchor">Hire Me</a>
            <a class="btn btn-primary button-class" href={{cvUrl}} target="_blank" data-aos="zoom-in"
              data-aos-anchor="data-aos-anchor">Download CV</a>
          </div>
          <div class="section icon-section">
            <div class="container">
              <div class="button-container">
                <a class="btn btn-default btn-round btn-lg btn-icon icon-class" href="https://www.facebook.com/kamini.kuhad/"
                  target="_blank" rel="tooltip" title="Follow me on Facebook" >
                  <i class="fa fa-facebook"></i>
                </a>
                <a class="btn btn-default btn-round btn-lg btn-icon icon-class" href="https://www.instagram.com/kaminikuhad09/"
                  target="_blank" rel="tooltip" title="Follow me on Instagram" >
                  <i class="fa fa-instagram"></i>
                </a>
                <a class="btn btn-default btn-round btn-lg btn-icon icon-class"
                  href="https://www.linkedin.com/in/kamini-kuhad-a63221191/" target="_blank" rel="tooltip"
                  title="Follow me on Linkedin" >
                  <i class="fa fa-linkedin"></i>
                </a>
                <a class="btn btn-default btn-round btn-lg btn-icon icon-class" href="https://github.com/kaminikuhad" target="_blank"
                  rel="tooltip" title="Follow me on Github" >
                  <i class="fa fa-github"></i>
                </a>
                <!-- <a class="btn btn-default btn-round btn-lg btn-icon icon-class" href="https://twitter.com/MehulKo18943279"
                  target="_blank" rel="tooltip" title="Follow me on Twitter" >
                  <i class="fa fa-twitter"></i>
                </a> -->
                <a class="btn btn-default btn-round btn-lg btn-icon icon-class" href="#" target="_blank" rel="tooltip"
                  title="Follow me on Google+" >
                  <i class="fa fa-google-plus"></i>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
   
     
    </div>
  </div>
</div>
